@CHARSET "UTF-8";
	#order>span{
		cursor:pointer;
		font-weight: bold;
		margin: 2% 0% 2% 0%;
		color: #595528;
	}
	#order>span[title=active]{
		background-color: #ffcc00;
		border: 1px	solid #ffcc00;
		border-radius: 5px;
	}
	.main_concep_channel{
		width: 25%;
	    height: 15%;
	    border-radius: .8rem;
	    background: rgba(255, 255, 255, .9) fixed;
	    margin: 0 4% 5%;
	    display: inline-block;
	    float: left;
	    cursor: pointer;
	    box-shadow: 0 0 15px 2px black;
	    padding: 1% 1% 1% 1%; 
	}
	
	.channel_img{
		position: relative;
	    overflow: hidden;
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	    width: 99%;
	    /* min-width: 50%; */
	    height: 100%;
	    /* height: 90%; */
	    border-radius: .8rem;
	    margin: % auto;
	    margin: 2% 0% 2% 0%;
	    margin: 2% auto;
	    filter: contrast(80%);
		
	}
	
	.channel_title{
		width: 100%;
		height: 15%;
		margin: 2% 3% 2% 3%;
		float: none;
		color: black;
		max-width: 94%;
		font-size: 30px;
		text-align: left;
	}
	
	.channel_info{
		width: 100%;
	    height: 15%;
	    padding: 2% 2% 2% 2%;
	    margin: 0% 0% % 0%;
	    float: left;
	    color: black;
	    max-width: 100%;
	    font-size: 100%;
	    text-align: left;
	    border-radius: .4rem;
	}
	
	.misc{
		text-align: right;
	}
	
	.overlays{
		width: 100%;
		height: 100%;
		
	}	
	.creators{
		color: white;
		font-weight: bold;
		float: right;
		margin-bottom: 0px;
		margin-right: 0.1%;
	}
	.counts{
		color: black;
		font-weight: bolder;
		font-size: 20px;
		text-align: center;
	}
	
	.c_kind, .c_situation, .c_procedure, .c_ingredient{
		font-weight: bolder;
		cursor: pointer;
		color: #595528;
	}
	.c_kind[title=active], .c_situation[title=active], .c_procedure[title=active], .c_ingredient[title=active]{
		background-color: #ffcc00;
		border: 1px	solid #ffcc00;
		border-radius: 5px;
		font-size: small;
	}
	.cate{
		background-color: #ffcc00;
		border: 1px	solid #ffcc00;
		border-radius: 5px;
		font-size: small;
		color: #ffffff;
	}
	.pagers{
		width: 20%;
		display: block;
		float: right;
		cursor: pointer;
		margin: 0 auto;
	}
	.clear{
		clear: both;
	}
	