<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="MyPageMapper">
 	<update id="profileBoth" parameterType="java.util.Map">
 		update member set myPhoto=#{myPhoto} , info =#{info} where email =#{email}
 	</update>
 	
 	<update id="profile_f" parameterType="java.util.Map">
 		update member set myPhoto=#{myPhoto} where email =#{email}
 	</update>
 	
 	<update id="profile_info" parameterType="java.util.Map">
 		update member set info=#{info} where email =#{email}
 	</update>
 	
 	<!-- ===============관리자가 회원정보 수정,삭제,등등 하는곳 ======================-->
 	<update id="userUpdate" parameterType="MemberDTO">
 		update member set grade =#{grade}, point = #{point}, w_count=#{w_count} where email=#{email}
 	</update>
 	<update id="userWarn" parameterType="MemberDTO">
 		update member set w_count =#{w_count}+1 where email=#{email}
 	</update>
 	<delete id="userDelete" parameterType="MemberDTO">
 		delete member where email =#{email}
 	</delete>
 	
 	<select id="userSearch" parameterType="MemberDTO" resultType="MemberDTO">
 		select * from member where nickName=#{nickName}
 	</select>
 	<!-- ====================== Follow Check, List ================================= -->
 	
 	<select id="followingCheck" parameterType="FollowDTO" resultType="FollowDTO">
 		select * from follow where follower =#{follower} and following = #{following}
 	</select>
 	<select id="followingCount" resultType="java.lang.Integer" parameterType="String">
 		select count(following) from follow where follower = #{value}
 	</select>
 	
 	<select id="followerCount" resultType="java.lang.Integer" parameterType="String">
 		select count(follower) from follow where following = #{value}
 	</select>
 	
 	<delete id="followCancel" parameterType="java.util.Map">
 		delete follow where following = #{login_nickName} and follower =#{myPage_nickName}
 	</delete>
 	<insert id="follow" parameterType="java.util.Map">
 		insert into follow values(#{login_nickName},#{myPage_nickName})
 	</insert>
 	<select id="followingList" parameterType="java.util.Map" resultType="java.lang.String">
 		select follower from follow where following =#{nickName}
 	</select>
 	
 	<select id="followList" parameterType="String" resultType="MemberDTO">
 		select * from member where nickName = #{value}
 	</select>
 	
 </mapper>