<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">

	<!-- List -->
	<select id="list" parameterType="com.njgo.util.ListInfo" resultType="NoticeDTO">
		select * from notice order by num desc
	</select>
	
	<!-- View -->
	 <!-- <select id="view" parameterType="java.lang.Integer"> select * from 
		board where kind='notice' and num=#{num}
		</select> -->
		
	 <!-- Count -->
	 <!-- <select id="count" parameterType="com.njgo.util.ListInfo" resultType="java.lang.Integer"> 
		select nvl(count(num), 0) from board
		</select> -->
		
	 <!-- write -->
	 <!-- <insert id="write" parameterType="com.njgo.dto.NoticeDTO"> insert 
		into board values (notice_seq.nextval, #{writer}, #{title}, #{contents}, 
		sysdate, 0, notice)
		</insert> -->
		
	 <!-- Update -->
	 <!-- <update id="update" parameterType="com.njgo.dto.NoticeDTO"> update 
		board set title=#{title} contents=#{contents} where num=#{num}
		</update> -->
		
	 <!-- Delete -->
	 <!-- <delete id="delete" parameterType="java.lang.Integer"> delete from 
		board where kind='notice' and num=#{num} </delete> -->
	

	
</mapper>