<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RankingMapper">

	<!-- 선행되어야 하는 작업 : Recipe테이블에서 Ranking테이블로 데이터를 옮기는 작업 -->
	<!-- Select -->
	<select id="selectRecipe" resultType="RecipeDTO">
		select foodname, regdate, rep_pic, hit, scrap from recipe
	</select>
	<select id="selectUpload" resultType="MemberDTO">
		select nicname, rep_pic, regdate, upload from member
	</select>
	
	<!-- Insert -->
	<insert id="insertRecipe" parameterType="java.util.ArrayList">
		insert into r_cook (foodname, regdate, rep_pic, hit, scrap) values
		(#{foodname}, #{regdate}, #{rep_pic}, #{hit}, #{scrap})
	</insert>	
	<insert id="insertUpload" parameterType="java.util.ArrayList">
		insert into r_chef (nicname, regdate, rep_pic, u_count) values
		(#{nicname}, #{regdate}, #{rep_pic}, #{u_count})
	</insert>
	<!-- 선행되어야 하는 작업 : Recipe테이블에서 Ranking테이블로 데이터를 옮기는 작업 -->
	

	<!-- Ranking테이블에서 데이터를 꺼내는 작업 -->
	<!-- SelectHit -->
	<select id="selectHit" parameterType="com.njgo.util.ListInfo" resultType="R_CookDTO">
		select foodname, regdate, rep_pic, hit from r_cook
		where regdate like '%#{regdate}%'
		order by hit desc
	</select> 

	<!-- SelectScrap -->
	<select id="selectScrap" parameterType="com.njgo.util.ListInfo" resultType="R_CookDTO">
		select foodname, regdate, rep_pic, scrap from r_cook
		where regdate like '%#{regdate}%'
		order by scrap desc
	</select>
	
	<!-- SelectUpload -->
	<select id="selectUpload" parameterType="com.njgo.util.ListInfo" resultType="R_ChefDTO">
		select writer, count(writer) as count from recipe 
  	    where regdate like '%#{date}%'
        group by writer
        order by count desc;
	</select>
	<!-- Ranking테이블에서 데이터를 꺼내는 작업 -->
	
</mapper>