<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipeMapper">
	<!-- view -->
	<select id="rview" parameterType="java.lang.Integer" resultType="com.njgo.dto.RecipeDTO">
		select * from RECIPE where NUM=#{num}
	</select>
	<select id="iview" parameterType="java.lang.Integer" resultType="com.njgo.dto.IngredientsDTO">
		select NAME, AMOUNT from INGREDIENTS where RECIPENUM=#{num}
	</select>
	<select id="sview" parameterType="java.lang.Integer" resultType="com.njgo.dto.StepsDTO">
		select STEP, EXPLAIN, FNAME, ONAME from STEPS where RECIPENUM=#{num} order by STEP asc
	</select>
	<select id="tview" parameterType="java.lang.Integer" resultType="com.njgo.dto.HashtagDTO">
		select HASHTAG from HASHTAG where RECIPENUM=#{num}
	</select>
	
	<!-- list-main -->
	<select id="searchcount" parameterType="java.util.List" resultType="java.lang.Integer">
		select COUNT(distinct NUM) from RECIPE 
		<trim prefix="where">
		 NUM in 
			<foreach collection="collection" item="num" open="(" separator="," close=")">
				#{num}
			</foreach>
		</trim>		 
	</select>
	<select id="search" parameterType="java.util.HashMap" resultType="com.njgo.dto.RecipeDTO">
		select * from 
		(select ROWNUM R, L.* from 
		(select distinct * from RECIPE
		<trim prefix="where">
		 NUM in 
			<foreach collection="collection" item="num" open="(" separator="," close=")">
				#{num}
			</foreach>
		 and not WRITER='관리자'		 
		</trim>
		 order by
		<if test="listInfo.order=='regdate'">
			REGDATE
		</if>
		<if test="listInfo.order=='hit'">
			HIT
		</if>
		  desc) L) 
		where R between #{listInfo.startRow} and #{listInfo.lastRow}
	</select>
	<select id="tvsearch" parameterType="java.util.HashMap" resultType="com.njgo.dto.RecipeDTO">
		select * from 
		(select ROWNUM R, L.* from 
		(select distinct * from RECIPE
		<trim prefix="where">
		 NUM in 
			<foreach collection="collection" item="num" open="(" separator="," close=")">
				#{num}
			</foreach>
		 and WRITER='관리자'		 
		</trim>
		 order by
		<if test="listInfo.order=='regdate'">
			REGDATE
		</if>
		<if test="listInfo.order=='hit'">
			HIT
		</if>
		  desc) L) 
		where R between #{listInfo.startRow}/3 and #{listInfo.lastRow}/3
	</select>
	
	<!-- search-categorized -->
	<select id="rsearch1" parameterType="com.njgo.util.ListInfo" resultType="java.lang.Integer">
		select NUM from RECIPE where FOODNAME like '%'||#{find}||'%'	
	</select>
	<select id="hsearch1" parameterType="com.njgo.util.ListInfo" resultType="java.lang.Integer">
		select RECIPENUM from HASHTAG where HASHTAG like '%'||#{find}||'%'
	</select>
	<select id="catesearch" parameterType="com.njgo.dto.CategoryDTO" resultType="java.lang.Integer">
		select RECIPENUM from CATEGORY where C_KIND like #{c_kind} and C_SITUATION like #{c_situation} and C_PROCEDURE like #{c_procedure} and C_INGREDIENT like #{c_ingredient}
	</select>
	<select id="isearch1" parameterType="com.njgo.util.ListInfo" resultType="java.lang.Integer">
		select RECIPENUM from INGREDIENTS where NAME like '%'||#{find}||'%'
	</select>
	<select id="inglist" parameterType="java.lang.String" resultType="com.njgo.dto.IngredientsDTO">
		select distinct NAME from INGREDIENTS where NAME like '%'||#{find}||'%'
	</select>	
	<select id="isearch" parameterType="java.util.List" resultType="java.lang.Integer">
		select distinct RECIPENUM from INGREDIENTS where RECIPENUM in (select RECIPENUM from INGREDIENTS where NAME in 
			<foreach collection="collection" item="dto" open="(" separator="," close=")">
				#{dto.name}
			</foreach>)
	</select>
	
	<select id="writersearch" parameterType="java.lang.String" resultType="java.lang.Integer">
		select NUM from RECIPE where writer=#{writer}
	</select>
	
	<select id="scrapsearch" parameterType="java.lang.String" resultType="java.lang.Integer">
		select RECIPENUM from SCRAP where NICKNAME=#{nickname} 
	</select>
	
	<!-- scrap -->
	<update id="scrapI" parameterType="java.lang.Integer">
		update RECIPE set SCRAP=SCRAP+1 where NUM=#{num}
	</update>
	<insert id="scrapAdd" parameterType="com.njgo.dto.ScrapDTO">
		insert into SCRAP values(#{nickname}, #{recipenum})
	</insert>
	<update id="scrapD" parameterType="java.lang.Integer">
		update RECIPE set SCRAP=SCRAP-1 where NUM=#{num}
	</update>
	<delete id="scrapSub" parameterType="com.njgo.dto.ScrapDTO">
		delete SCRAP where NICKNAME=#{nickname} and RECIPENUM=#{recipenum}
	</delete>
	
	<!--  recipe 입력 --> 
	<insert id="insertRecipeInfo" parameterType="com.njgo.dto.RecipeDTO">
  	insert into RECIPE (NUM, WRITER, FOODNAME, TITLE, HIT, REGDATE, REP_PIC, AMOUNT, RATING, ELAPSEDTIME, SCRAP, R_INTRO) values (RECIPE_SEQ.nextval, #{writer}, #{foodname}, #{title}, 0, sysdate, #{rep_pic}, #{amount}, 0, #{elapsedtime}, 0, #{r_intro})
  	</insert> 
  	<insert id="insertCategory" parameterType="com.njgo.dto.CategoryDTO">
  	insert into CATEGORY (RECIPENUM, C_KIND, C_SITUATION, C_PROCEDURE, C_INGREDIENT) values (RECIPE_SEQ.currval, #{c_kind}, #{c_situation}, #{c_procedure}, #{c_ingredient})
 	</insert> 
	<insert id="insertIngredient" parameterType="com.njgo.dto.IngredientsDTO">
  	insert into INGREDIENTS (RECIPENUM, NAME, AMOUNT, KIND) 
  		<if test="recipenum != 0">values (#{recipenum}, #{name}, #{amount}, #{kind})</if> 
  		<if test="recipenum == 0">values (RECIPE_SEQ.currval, #{name}, #{amount}, #{kind})</if> 
  	</insert>
  	<insert id="insertStep" parameterType="com.njgo.dto.StepsDTO">
  	insert into STEPS (RECIPENUM, STEP, EXPLAIN, FNAME, ONAME) 
  		<if test="recipenum != 0">values (#{recipenum}, #{step}, #{explain}, #{fname}, '')</if> 
  		<if test="recipenum == 0">values (RECIPE_SEQ.currval, #{step}, #{explain}, #{fname}, '')</if> 
  	</insert>
	<insert id="insertHashtag" parameterType="com.njgo.dto.HashtagDTO">
	  insert into HASHTAG (RECIPENUM, HASHTAG) 
  		<if test="recipenum != 0">values (#{recipenum}, #{hashtag})</if> 
  		<if test="recipenum == 0">values (RECIPE_SEQ.currval, #{hashtag})</if> 
  	</insert>
 	<!--  recipe 삭제 --> 
	<delete id="deleteRecipeInfo" parameterType="java.lang.Integer">delete from RECIPE where NUM=#{recipeNum}</delete> 
  	<delete id="deleteCategory" parameterType="java.lang.Integer">delete from CATEGORY where RECIPENUM=#{recipeNum}</delete> 
  	<delete id="deleteIngredient" parameterType="java.lang.Integer">delete from INGREDIENTS where RECIPENUM=#{recipeNum}</delete> 
  	<delete id="deleteStep" parameterType="java.lang.Integer">delete from STEPS where RECIPENUM=#{recipeNum}</delete> 
  	<delete id="deleteHashtag" parameterType="java.lang.Integer">delete from HASHTAG where RECIPENUM=#{recipeNum}</delete> 
<!--  recipe 뷰 --> 
  	<select id="recipeInfoView" parameterType="java.lang.Integer" resultType="com.njgo.dto.RecipeDTO">select * from RECIPE where NUM=#{recipeNum}</select> 
  	<select id="categoryView" parameterType="java.lang.Integer" resultType="com.njgo.dto.CategoryDTO">select * from CATEGORY where RECIPENUM=#{recipeNum}</select> 
  	<select id="ingredientView" parameterType="java.lang.Integer" resultType="com.njgo.dto.IngredientsDTO">select * from INGREDIENTS where RECIPENUM=#{recipeNum}</select> 
  	<select id="stepView" parameterType="java.lang.Integer" resultType="com.njgo.dto.StepsDTO">select * from STEPS where RECIPENUM=#{recipeNum} order by STEP asc</select> 
  	<select id="hashtagView" parameterType="java.lang.Integer" resultType="com.njgo.dto.HashtagDTO">select * from HASHTAG where RECIPENUM=#{recipeNum}</select> 
<!--  recipe update --> 
  	<update id="recipeInfoUpdate" parameterType="com.njgo.dto.RecipeDTO">update RECIPE set FOODNAME=#{foodname}, TITLE=#{title}, REP_PIC=#{rep_pic}, AMOUNT=#{amount}, ELAPSEDTIME=#{elapsedtime}, R_INTRO=#{r_intro} where NUM=#{num}</update> 
  	<update id="categoryUpdate" parameterType="com.njgo.dto.CategoryDTO">update CATEGORY set C_KIND=#{c_kind}, C_SITUATION=#{c_situation}, C_PROCEDURE=#{c_procedure}, C_INGREDIENT=#{c_ingredient} where RECIPENUM=#{recipenum}</update> 
</mapper>